.privacy{
    margin-top: 0;
}

.privacy h2{
    padding: 3rem;
    margin-top: 0;
    background-color: #2e2e2e;
    color: white;
    text-align: center;
}

.privacy {
    font-family: sans-serif;
    font-size: large;
}

.privacy-content {
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-bottom: 4rem;
}

@media (min-width: 1600px) {
    .privacy-content {
        padding-top: 2rem;
        padding-left: 30rem;
        padding-right: 30rem;
    }
}